.sidebarFormat{
    height: 100vh;
    width: 4vw;
    background-color: rgb(133, 192, 133);
  top: 0;
}
.iconFormat{
    color: white;
    background-color:rgb(72, 72, 72);
    margin-left: 0.6vw;
    margin-bottom: 7vh;
    
}

.buttonFormat{
    border-width: .1vw;
    border-radius: 50px;
    color: white;
    background-color:rgb(72, 72, 72);
    margin-left: 0.6vw;
    margin-bottom: 7vh;
}
.buttonFormat:active{
    background-color:white;
    border-color: transparent;
    color: rgb(72, 72, 72);
}
.buttonFormat:hover{
    background-color:white;
    color: rgb(72, 72, 72);
    border-color: transparent;
}
