.sidebarFormat{
    height: 100vh;
    width: 4vw;
    background-color: rgb(133, 192, 133);
  top: 0;
}
.iconFormat{
    color: white;
    background-color:black;
    margin-left: 0.6vw;
    margin-bottom: 7vh;
    
}
.imgstf{
    color: white;
    height: 100%;
    width: 100%;
}
.div{
    margin-top: 400%;
}

.buttonFormat{
    border-width: .1vw;
    border-radius: 50px;
    color: white;
    background-color:black;
    margin-left: 0.6vw;
    margin-bottom: 7vh;
}
.buttonFormat:active{
    background-color:white;
    border-color: transparent;
}
.buttonFormat:hover{
    background-color:white;
    color: black;
    border-color: transparent;
}
