<div *ngFor="let calender of calenders">
    <app-calender date={{calender.date}} title={{calender.title}} description={{calender.description}}
        time={{calender.time}}></app-calender>
</div>
<div class="d-flex flex-column" style="margin-left: 52vw; margin-top: 2vh;">
    <a routerLink="/event" routerLinkActive="active">
        <button class="btn btn-dark nav-item eventFormat"> add event</button></a>
</div>


<div class="d-flex flex-column" style="margin-left: 45vw; margin-top: -5vh; width: 7%;">
    <form #postForm="ngForm" (ngSubmit)="removeCalender(postForm.value)">
        <button class="btn btn-dark" type="submit" [disabled]="!postForm.valid">
            clear events
        </button>
    </form>
</div>