<body>
    <form #postForm = "ngForm" (ngSubmit)="changeSettings(postForm.value)">
        <div class="container align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                    <h2 class="h3 mb-4 page-title">Settings</h2>
                    <div class="my-4">
                        
                        <h5 class="mb-0 mt-5">Timer Settings</h5>
                        
                        <hr class="my-4" />
                        <strong class="mb-0">Duration</strong>
                        <p>Control the duration of work time and break time.</p>
                        <div class="list-group mb-5 shadow">
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <strong class="mb-0">Work</strong>
                                        <p class="text-muted mb-0">Amount of time (in minutes) you'd like to spend on your work.</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-switch">
                                            <input type="number" class="form-control" ngModel name="work" id="alert2" value="25" size="2" style="text-align:right;"/>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <strong class="mb-0">Short Break</strong>
                                        <p class="text-muted mb-0">Amount of time (in minutes) you'd like to spend on your short break.</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-switch">
                                            <input type="number" class="form-control" ngModel name="shortBreak" id="alert2" value="5" size="2" style="text-align:right;"/>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <strong class="mb-0">Long Break</strong>
                                        <p class="text-muted mb-0">Amount of time (in minutes) you'd like to spend on your long Break.</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-switch">
                                            <input type="number" class="form-control" ngModel name="longBreak" id="alert2" value="15" size="2" style="text-align:right;"/>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <strong class="mb-0">Interval</strong>
                        <p>Control when you'd like to take a longer break.</p>
                        <div class="list-group mb-5 shadow">
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <strong class="mb-0">Long Break Interval</strong>
                                        <p class="text-muted mb-0">Amount of short breaks you'd like to take before taking a longer break.</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-switch">
                                            <input type="number" class="form-control" ngModel name="interval" id="alert2" value="4" size="2" style="text-align:right;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="list-group mb-5">
                            <button class="btn btn-light" type="submit">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
</body>