
<div class="card text-center mx-auto width">
  <div class="card-header text-center">
    <ul class="nav nav-pills card-header-pills nav-item topBtnsSpacing">
      <li class="">
        <a class="nav-link nav-item topBtns" href="#">Work</a>
      </li>
      <li class="">
        <a class="nav-link nav-item topBtns" href="#">Short Break</a>
      </li>
      <li class="">
        <a class="nav-link nav-item topBtns" href="#">Long Break</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title timeLbl">25:00</h5>
    <a href="#" class="btn btn-primary startBtn">Start/Stop</a>
  </div>
</div>


