<div class="timer" *ngIf="(timeLeft | async) as t; else sorry">
	<div>
		<h4> Count down timer </h4>
		<span id="minutes"> {{t.minutesToDday}} </span>Min
		<span id="seconds"> {{t.secondsToDday}} </span>S
	</div>

	<div>
		<button class="btn btn-dark" (click)="startFunction()">Start</button>
		<button class="btn btn-dark" (click)="stopFunction()">Pause</button>
		<button class="btn btn-dark" (click)="resetFunction()">Reset</button>
		<button class="btn btn-dark" (click)="thirtyMinWorkFunction()">Work</button>
		<button class="btn btn-dark" (click)="longBreakFunction()">LongBreak</button>
		<button class="btn btn-dark" (click)="shortBreakFunction()">ShortBreak</button>
	</div>
</div>

<ng-template #sorry>
	LOADING
</ng-template>