<div class="div"><br></div>

<div class="d-flex justify-content-around">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="h2">
            Log in or Sign Up below!
            <div class="div"><br></div>
        </div>        

        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-contol" placeholder="Email" ngModel name="email" required email>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-contol" placeholder="Password" ngModel name="password" required password>
        </div>

        <button class="btn btn-dark m-1" type="submit" [disabled]="!authForm.valid" (click)="buttonClicked='Login'">
            Login
        </button>

        <button class="btn btn-dark m-1" type="submit" (click)="buttonClicked='SignUp'" [disabled]="!authForm.valid">
            Signup
        </button>
    </form>  

    <div class="div"></div>

</div>
