.alert{
    background: green;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 4px;
    animation: show_slide 1s ease forwards;
    margin-bottom: 50px;

}

button{
    margin-bottom: 50px;
}


@keyframes show_slide {
    0%{
        transform: translateX(100%)
    }
    40%{
        transform: translateX(-10%)
    }
    80%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-10px)
    }
    
}

