.Container2{
    height: 90px;
    width: 120px;
    float: right;
}
.Container2 {
    display: flex;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Container2:hover,
.Container2:focus {
    background: #087831;
}
.Container2{
    color: white;
}