<div *ngFor="let journal of journals">
  <app-calender title={{journal.title}} description={{journal.description}}
      ></app-calender>
</div>
<div class="d-flex flex-column" style="margin-left: 52vw; margin-top: 2vh;">
  <a routerLink="/addjournal" routerLinkActive="active">
      <button class="btn btn-dark nav-item eventFormat"> Add Journal Entry</button></a>
</div>


<div class="d-flex flex-column" style="margin-left: 45vw; margin-top: -5vh; width: 7%;">
  <form #postForm="ngForm" (ngSubmit)="removeJournal(postForm.value)">
      <button class="btn btn-dark" type="submit" [disabled]="!postForm.valid">
          Clear Events
      </button>
  </form>
</div>