.sidebarFormat{
    width:100%;
    background-color: transparent;
    margin-right: 1%;
}
.clockFormat{
    width:90%;
    background-color: transparent;

}
.taskListFormat{
    width:35%;
    background-color: transparent;

}

.list-title{
    color: rgb(72, 72, 72);
    font-size:20pt;
}

.list{
    width: 25vw;
}