.sidebarFormat{
    width:100%;
    background-color: transparent;
    margin-right: 1%;
}
.clockFormat{
    width:90%;
    background-color: transparent;

}
.taskListFormat{
    width:35%;
    background-color: transparent;

}