.sidebarFormat{
    width:100%;
    background-color: transparent;
}
.clockFormat{
    width:100%;
    background-color: transparent;

}
.taskListFormat{
    width:100%;
    background-color: transparent;

}