<div>
<div class = "d-flex flex-row" >
    <div class = "d-flex flex-column position-absolute top-50 start-50 translate-middle nav-item clockFormat">
        <app-temp-timer>Loading...</app-temp-timer>
    </div>

    <div class="d-flex flex-column list ms-auto">
        <div class = "list-title">Task List</div>
        <div class = "d-flex flex-column">
            <div *ngFor ="let task of tasks">
                <div class = "">
                    <app-task-list name={{task.name}}> Loading... </app-task-list>
                </div>
            </div>
        </div>
    </div>
    

    </div>
    <div class = "d-flex flex-column position-absolute bottom-0 end-0">
    <app-notification>Loading...</app-notification>
    </div>
</div>