    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">

        <div class="input-group mb-3">
            <input type="text" class="form-control" ngModel name="name" placeholder="Enter Task">
        </div>

        <button class="btn btn-dark" type="submit" (click)="buttonClicked='AddTask'" style=" box-shadow: 0 0 15px rgb(167, 166, 166);">
            Add Task
        </button>

        <button class="btn btn-dark" type="submit" (click)="buttonClicked='ClearTasks'">
            Clear Tasks
        </button>

    </form>
